.hero {
  width: 100vw;
  padding-top: 10rem;
  height: 110vh;

  background-image: url("../../bg.png");

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.3s;
}
.center {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.heading {
  font-size: 7.5rem;
  margin-bottom: 2rem;
  line-height: 1.1;
  @media only screen and (max-width: 62.5em) {
    text-align: center;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 6.4rem;
  }
  @media only screen and (max-width: 30em) {
    font-size: 6rem;
  }
}
.subheading {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  @media only screen and (max-width: 37.5em) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 35em) {
    text-align: center;
  }
  @media only screen and (max-width: 30em) {
    font-size: 2rem;
    font-weight: 600;
  }
}

.links,
.heading,
.subheading {
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  animation: opacity 1.2s linear 0.8s;
  transition: all 0.3s;
}

.links {
  display: flex;
  gap: 2rem;
  @media only screen and (max-width: 30em) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 3rem;
  }
}

.link:visited,
.link:link {
  display: inline-block;

  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--text-tertiary);
  font-weight: 400;
  box-shadow: 0px 20px 14px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  @media only screen and (max-width: 30em) {
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
}
.link:hover,
.link:active {
  background-color: var(--primary-color--dark--1);
  transform: translateY(-5%);
}
.icon {
  font-size: 2.4rem;
}

.left,
.right {
  position: absolute;
  width: 80rem;
  /* box-shadow: 0px 20px 25px 5px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(0px 13px 14px rgba(0, 0, 0, 0.1));
}
.opacity {
  opacity: 0 !important;
  visibility: hidden !important;
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.left {
  /* left: 25rem; */
  transform: translateX(-35%);
  opacity: 1;
  visibility: visible;
  animation: cloudleft 2s ease 0.5s;
}
.right {
  transform: translateX(35%);
  opacity: 1;
  visibility: visible;
  animation: cloudright 2s ease 0.5s;
}
@keyframes opacity {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
@keyframes cloudleft {
  0% {
    transform: translateX(-35%);
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(-150%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes cloudright {
  0% {
    transform: translateX(35%);
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }
}
