.hero {
  max-width: 135rem;
  padding-top: 10rem;
  margin: 0 auto 10rem auto;
}
.heading {
  font-size: 6.6rem;
  margin: 2rem 0;
  text-align: center;
}
.subheading {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  line-height: 1.3;
}
