.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 3rem;
  }
  button {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 400;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem 0;
  form {
    display: flex;
    gap: 4rem;
    input {
      width: 1.5rem;
      height: 1.5rem;

      border: 2px solid #aaa;
    }
  }
  p {
    font-size: 1.6rem;
    text-transform: uppercase;
    opacity: 0.7;
  }
}
.quantity {
  margin-left: 35rem;
}
