.container {
  max-width: 60rem;
  margin: 0 auto;
}
.header {
  text-align: center;
  margin-bottom: 4rem;
  &Icon {
    font-size: 7rem;
    color: var(--primary-color);
  }
  &Title {
    font-size: 2.4em;
    font-weight: 500;
  }
  &Message {
    font-size: 1.6rem;
    opacity: 0.5;
    font-weight: 400;
  }
}

.box {
  margin-bottom: 2rem;
  &Heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &Text {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.orderItems {
  &Heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  &Margin {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media only screen and (max-width: 37.5em) {
      max-height: 25rem;
      overflow-y: scroll;
    }
  }
}

.orderItem,
.checkBox,
.checkOut {
  display: flex;
  justify-content: space-between;
}

.orderItem {
  &Details {
    display: flex;
    gap: 2rem;
  }
  &Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &Quantity {
    font-size: 1.8rem;
    opacity: 0.8;
  }
  &Name {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
  &Image {
    width: 12rem;
    border-radius: 7px;
  }
  &Price {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }
}
.checkBox {
  align-items: center;
  margin: 2.5rem 0 3rem 0;
  &Heading {
    font-size: 1.6rem;
    font-weight: 500;
  }
  &Text {
    font-size: 1.6rem;
  }
}
.checkOut {
  margin-bottom: 1rem;
  align-items: center;
  &Heading {
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.4;
  }
  &Text {
    font-size: 1.6rem;
  }
  &Total {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &Price {
    font-size: 2rem;
  }
  &Discount {
    text-transform: uppercase;

    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    background-color: var(--primary-color--light--2);
    color: var(--text-tertiary);
  }
}
.button {
  font-size: 1.8rem;
  width: 100%;
  background-color: var(--primary-color--light--2);
  border: none;
  border-radius: 10px;
  color: var(--text-tertiary);
  padding: 1.1rem 0;
  margin-top: 1rem;
  cursor: pointer;
}

.time {
  margin-top: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media only screen and (max-width: 25em) {
    gap: 0.5rem;
    font-size: 1.8rem;
  }
}
