.box {
  position: fixed;
  background-color: var(--text-tertiary);
  right: 1rem;
  border: 1px solid #eee;

  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 56rem;
  max-width: 100vw;
  max-height: calc(100vh - 10rem);
  overflow: hidden;

  @media only screen and (max-width: 30em) {
    width: 50rem;
  }
  @media only screen and (max-width: 25.25em) {
    width: 47rem;
  }
}
.showLink {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

  font-size: 1.8rem;
  line-height: 1.5rem;

  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color--light--1);
}
.showBox {
  padding: 2.4rem;
}
