.container {
  background-color: var(--primary-color--light--1);
  color: #000;
  padding: 8rem 5rem 10rem 5rem;
  border-radius: 2rem;
  @media only screen and (max-width: 50em) {
    width: 75%;
    justify-self: center;
  }
  @media only screen and (max-width: 37.5em) {
    width: 95%;
    justify-self: center;
  }
  @media only screen and (max-width: 29.25em) {
    width: 100%;
  }
}
.title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  @media only screen and (max-width: 29.25em) {
    font-size: 3rem;
  }
}
.subtitle {
  margin: 2rem 0 5rem 0;
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 1.6rem;
    font-weight: 600;
    display: block;

    width: 100%;
    border: none;
    border-bottom: 1px solid var(--text-primary);
    padding: 1rem 1rem 1.5rem 0.1rem;
    color: #000;
    background-color: transparent;
    &::placeholder {
      font-weight: 600;
      font-size: 1.6rem;
      color: #000;
    }
    &:focus {
      outline: none;
    }
  }
  label {
    font-size: 1.6rem;
    display: block;
    margin-left: 0.1rem;
  }

  &Button {
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--bg-primary);
    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}
