.hero {
  max-width: 135rem;
  margin: 0 auto;
  padding: 10rem 1rem;
}
.absolute {
  position: absolute;
  width: 100%;
  top: -85%;
  z-index: -1;
}
.img {
  width: 100%;

  filter: blur(5px);
  z-index: -1;
}
.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5rem;
  @media only screen and (max-width: 52.5em) {
    grid-template-columns: 1fr;
  }
  @media only screen and (max-width: 30em) {
    grid-template-columns: 1fr;
  }
}
