.container {
  max-width: 140rem;
  margin: 3rem auto;
  padding: 0 1rem;
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 5rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 1rem;
  @media only screen and (max-width: 62.5em) {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2rem;
    grid-auto-rows: 1fr;
  }
  @media only screen and (max-width: 38.5em) {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    gap: 2rem;
    grid-auto-rows: 1fr;
  }
}
