.container {
  max-width: 140rem;
  margin: 3rem auto;
  padding: 0 1rem;
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 5rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 3rem 1.5rem;
  justify-content: center;
  align-items: center;
}
