.heading {
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}
.transform {
  animation: fade 0.3s linear;
}
.subheading {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}
.bold {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.city {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.street {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.select {
  cursor: pointer;
}
.select,
.input {
  display: inline-block;
  width: 100%;
  padding: 1.5rem 2rem 1rem 1.8rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  border-radius: 6px;
  border: 2px solid #ccc;

  margin-bottom: 2rem;
  transition: all 0.3s;
  position: relative;
  &:focus {
    border: 2px solid var(--primary-color--light--2);
    outline: none;
  }
  &:hover {
    border: 2px solid var(--primary-color--light--2);
  }
}
.relative {
  position: relative;
}
.type {
  width: max-content;
  font-size: 1.1rem;
  opacity: 0.6;
  font-weight: 400;
  position: absolute;
  top: 0.3rem;
  left: 2.4rem;

  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
.floor,
.label {
  width: max-content;
  font-size: 1.4rem;
  opacity: 0.6;
  font-weight: 400;
  position: absolute;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}

.label {
  top: 0.5rem;
  font-size: 1rem;
  left: 2rem;
}

.apartment {
  position: relative;
  display: flex;
  gap: 2rem;
}
.floor {
  top: 0.5rem;
  font-size: 1rem;

  left: 30rem;
}
.button {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  background-color: var(--primary-color--light--2);
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 10px;
  font-weight: 500;
  color: var(--text-tertiary);
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.how {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.forRadio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.radio {
  width: 1.6rem;
  height: 1.6rem;
  accent-color: green;
}

.radioText {
  font-size: 1.6rem;
  font-weight: 400;
}
.margin {
  margin-bottom: 2rem;
}

.input:placeholder-shown {
  font-size: 1rem;
  background-color: #000 !important;
  padding: 3rem;
}

@keyframes fade {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
